td, th {
	border: 1px solid;
  }
  
th { 
       font-family: Arial; 
       font-weight: bold;
       color: MediumSlateBlue;
  }

td { color: RosyBrown; 
     font-style: italic;
  }

body { background-color: LightCyan; }

h1 { font-weight: bold;
     color: Purple;
     border: 5px dotted black;
     outline: 4px dashed blue;
   }
